{% extends "base.html" %}
{% load i18n %}
{% load basic %}
{% load widgets %}
{% load humanize %}

{% block title %}
    {% trans "About DNAnexus Answers" %}
{% endblock %}

{% block body %}

<div class="row">

<div class="span12">
   <div class="par">
    {%  blocktrans %}
    DNAnexus Answers is a Q&A site about the <a href=http://platform.dnanexus.com>DNAnexus Platform</a>. We welcome questions
    about the Platform, app development, bioinformatics and computational genomics research using DNAnexus Platform, and
    community discussion. Our discussion engine is powered by <a href=https://github.com/ialbert/biostar-central>BioStar</a>.
    Our sister site is the <a href=http://wiki.dnanexus.com>DNAnexus Wiki</a>.
    {% endblocktrans %}
  </div>

   <div class="par">
    {%  blocktrans %}
    We welcome posts that are:
    {% endblocktrans %}
  </div>

  <ul>
    <li>detailed and specific</li>
    <li>written clearly and simply</li>
    <li>of interest to at least one other person somewhere</li>
  </ul>

  <div class="par">
    No question is too trivial or too "newbie". Please look around to see if your 
    question has already been asked (perhaps even answered!) before you ask. But if you end up asking a question that has 
    been asked before, that is fine too. Other users will hopefully edit in links to related
    or similar questions to help 
    future visitors find their way.
  </div>
  
  <div class="title">FAQ</div>
  <div class="par">
    See the <a href="{% url main.server.pages.faq %}">Frequently Asked Questions</a> page.
  </div>
  
  <div class="title">RSS Feeds</div>
  <div class="par">
    See the <a href="{% url main.server.pages.rss %}">Feeds page</a> <img src="{{STATIC_URL}}img/feed-icon-small.png">
  </div>

  <div class="title">Licensing</div>
  <div class="par">DNAnexus Answers content is licensed under the 
    <a href="http://creativecommons.org/licenses/by/3.0/">Attribution 3.0 Unported (CC BY 3.0)</a> This means that you should
    attribute the work either to the <b>author</b> and/or to the <b>site</b>, depending on the scope and presentation of the information.
    That being said our community embraces the <a href="http://en.wikipedia.org/wiki/Fair_use">fair use policy</a> that permits
    limited use of copyrighted material without acquiring permission from the rights holders.
    
  </div>
  
  
    <div class="title">Source code</div>
    
    <div class="par">
        DNAnexus Answers is powered by <a href=http://biostar.org>BioStar</a>.
        Biostar source code is available at the <a href="https://github.com/ialbert/biostar-central">biostar-central repository</a>. 
        Report bugs or feature requests in the <a href="https://github.com/ialbert/biostar-central/issues"> issue tracker</a>.   
        Copyright by the <a href="https://github.com/ialbert/biostar-central/contributors">BioStar team</a>.
    </div>

    <div class="title">Contact</div>

    <div class="par">
      DNAnexus Answers Community Managers
    </div>
    
    <div style="margin-top:5px">
        {% for manager in params.managers %} 
            {% user_box manager %}
        {% endfor %}
    </div>
</div>

</div>
    
<div class="row">
    <div class="span12">
    <div class="title">DNAnexus Community Administrators</div>
    
    <div class="par">
        Community Administrators may moderate posts and may promote users to Editor status.
    </div>
    
    <div style="margin-top:5px">
        {% for admin in params.admins %} 
            {% user_box admin %}
        {% endfor %}
    </div>
</div></div>

<div class="row">
    <div class="span12">
    <div class="title">DNAnexus Editors</div>
    
    <div class="par">
        Editors may edit, delete and reclassify all posts.
    </div>
    
    <div style="margin-top:5px">
        {% for user in params.mods %}
            {% user_box user %}
        {% endfor %}
    </div>
</div></div>
    
{% endblock %}
